.articlesPage {
    text-align: left;

}

.links {
    text-align: right;

    font-size: 22px;
    padding-right: 10%;
}

.articlesLink{
    padding-right:5%;
}

.articlesTitle {
    position: relative;
    height:10vh;
    width:40%;
    background-color: #C4C4C4;
    left: 3%;
    margin-bottom:3%;
    text-align: center;

}
.aTitle {
    display: inline;
    font-size:50px;
    position: relative;
    top:8%;


    


}